@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.active {
  border-bottom: 3px solid orange;
  
}
.mobileMenu {
  position: absolute;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 70vw;
  z-index: 10;
  color: black;
  padding: 20px;
  font-weight: 700;
}

.transform {
  transform: translate(-50%, -50%);
}
.opacity {
  opacity: 0.5;
}

.mobile-cart {
  width: 95vw;
  position: absolute;
  margin: 0 auto;
  top: 15%;
  z-index: 10;
  left: 0;
  right: 0;
}
/* .lightbox{
  background-color: #404044
} */
.border{
  border-bottom: 1px solid  #404044;
}
.lightbox-container{
background-color: black;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.75;
  z-index: 900;
}